body {
    background-color: whitesmoke;
}

h1 {
    color:teal;
}

h2 {
    color: teal;
}

h3 {
    color: teal;
}

.imagen_cv{
    height: 250px;
    width: 230px;
}
.cv{
    height: 730px;
    width: 640px;
}