body {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

header {
    display: block;
}

header h1 {
    width: 100%;
    line-height: 73px;
    height: 73px;
    text-align: center;
    font-size: 3em;
    font-weight: 500px;
}

.iguanamadre {
    width: 100%;
}

.desc-section {
    height: 348px;
}

.texto-iguana {
    display: inline-block;
    padding-left: 14em;
    padding-top: 4.5em;
    width: 35%;
    margin-right: 1em;
    font-weight: 300px;
    line-height: 1.25em;
}

.iguana_1 {
    float: right;
    height: 237px;
    width: 399px;
    padding-right: 14em;
    padding-top: 2.5em;
    margin-left: 1em;
}

.texto1 {
    margin-bottom: 1em;
}

.texto2 {
    margin-top: 1em;
}

.icons-section {
    background-color: #1e1a13;
    text-align: center;
    height: 348px;
}

.icons-section h2 {
    font-family: 'raleway-Medium';
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: 500px;
}

.icons-section .icons {
    width: 20%;
    display: inline-block;
}

.icons-section i {
    padding-bottom: 0em;
    font-size: 40px;
}

.icons-section p {
    margin-top: 20px;
    font-family: 'raleway-Light';
    font-size: 1.5em;
    font-weight: 300px;
}

section {
    height: 348px;
    line-height: 348px;
    text-align: center;
}
section .iguanas {
    display: inline-block;
    margin: 0.5em;
    height: 202px;
    width: 316px;
    vertical-align: middle;
}

footer {
    display: block;
    background-color: #1E1A13;
    height: 102px;
    line-height: 102px;
}

footer p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300px;
}